@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Ekushey Punarbhaba", sans-serif;
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@font-face {
  font-family: "Ekushey Punarbhaba";
  src: url("/fonts/Punarbhaba_27-02-2006.ttf") format("truetype"),
       url("/fonts/Punarbhaba_Bold-04-09-2012.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ekushey Punarbhaba";
  src: url("/fonts/Punarbhaba_27-02-2006.ttf") format("truetype"),
       url("/fonts/Punarbhaba_Bold-04-09-2012.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

